{% extends 'base.html.twig' %}

{% block title %}Symbank
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Bienvenue sur votre site de gestion client</h1>
	</div>
{% endblock %}
